body{font-family: 'Microsoft Yahei';color: #555;background-color: #F6F6F6;}
*{margin: 0;padding: 0; text-align:center;}
ul{list-style: none;}
table{font-size: 12px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{vertical-align: middle;padding: 10px;border-top-color: #eee;}
a{color: #333; text-decoration:none;}
a:hover{color: #333;text-decoration: none;}
a:active{outline: 0;}
/* 清理浮动 */
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix{
    zoom:1; /* for IE6 IE7 */
}
.fr{ float:right; }
.page-top{padding-top:29px;}
.header{
position: fixed;
top: 0;
left: 0;
right: 0;
text-align: center;
padding: 0;
z-index: 99;
background-color:#58749C;
background:#58749C;
background-size: 100% 100%;
height:44px;
width:100%;
}
.logo a {
height: 44px;
display: block;
}

.section{ margin-top:15px; background:#fff;}
.cn_hd{ height:41px; border-bottom: 1px solid #EEE;}
.cn_h2{float:left;padding:0px 4px 0px 10px;font-size:18px; color:#222; line-height:41px; font-weight:normal;}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity:0;}
.swiper-container{ position:static; float:left;width:190px;}
.swiper-button-prev{ position:static; float:left;width:8px; height:41px; padding:0 10px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234BA634'%2F%3E%3C%2Fsvg%3E");-webkit-background-size: 8px 41px;background-size: 8px 41px; background-position:center;margin-top:0px;box-sizing: border-box;}
.swiper-button-next{ position:static; float:left;width:8px; height:41px; padding:0 10px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234BA634'%2F%3E%3C%2Fsvg%3E");-webkit-background-size: 8px 41px;background-size: 8px 41px; background-position:center;margin-top:0px;box-sizing: border-box;}
.swiper-wrapper{font-size:15px; color:#777; line-height:21px;}
.swiper-wrapper li{padding:10px 8px; width:auto !important; margin-right:0px !important;}
.swiper-wrapper .current{color:#58749c; border-bottom:1px solid #58749C;}

.content{background-color: #F6F6F6; padding:0 5px; overflow:hidden;}
.time-list{ margin-right:-1%; }
.time-list a{font-size: 14px;color:#2E73A6;}
.time-list p{padding-top:5px;}
.time-list li {
float: left;
width: 19%;
margin-right: 1%;
margin-top: 1%;
padding:22px 5px 5px 0px;
font-size: 12px;
height: 100px;
overflow: hidden;
background-color: #FFF;
box-sizing: border-box;
}

@media (max-width:640px){
.time-list li{width:32.333333%;}
.cn_h2{padding:0px 4px 0px 15px;}
.swiper-button-prev{padding:0 15px;}
.swiper-button-next{padding:0 15px;}


}
@media (max-width:320px){
.time-list li{width:49%;}
.cn_h2{padding:0px 4px 0px 10px;}
.swiper-button-prev{padding:0 10px;}
.swiper-button-next{padding:0 10px;}
}

.footer{ margin-top:15px; background:#fff; border-top:1px solid #eee; font-size:12px; text-align: center; color:#999; padding:15px 0px; line-height:20px; }